.elements {
  padding-top: 51px;
}

.elements__list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
}

.elements__card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  position: relative;
}

.elements__image {
  width: 282px;
  height: 282px;
}

.elements__image_preview {
  max-width: 75vw;
  min-width: 282px;
  max-height: 75vh;
  height: auto;
  width: auto;
}

.elements__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
  background-color: #fff;
}

.elements__name {
  color: #000;
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elements__like-button {
  width: 20px;
  height: 18px;
  background-image: url("../images/heart.svg");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  transition: ease-in-out 0.2s;
}

.elements__like-button_active {
  background-image: url("../images/like-active.svg");
}

.elements__like-button:hover {
  opacity: 50%;
  cursor: pointer;
}

.elements__delete-button {
  width: 18px;
  height: 19px;
  background-image: url("../images/Trash.svg");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  margin: 0 auto;
  padding: 0;
  transition: ease-in-out 0.2s;
  position: absolute;
  top: 18px;
  right: 15px;
}

.elements__delete-button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 677px) {
  .elements {
    padding-top: 36px;
  }
}
